body {
    background-color: brown;
    color: goldenrod;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    // background-image: url("./images/background.png");
    margin: 1%;
}